<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Car Inventory</title>
</head>
<body>
    <nav class = "navbar-nav bg-dark navbar-dark navbar-expand-lg">
        <div class = "navbar-nav">
            <!-- <button type = "button" class = "navbar-toggle collapsed navbar-dark bg-dark" data-bs-toggle = "collapse">
                <span class = "navbar-toggler-icon"></span>
            </button> -->
            <div class = "container-fluid">
                <a class = "navbar-brand" href="{{url_for('site.home')}}">Car Inventory</a>
            </div>
            <div class = "container-fluid">
                <ul class = "navbar-nav nav-tabs nav-justified ms-auto mb-2 mb-lg-0">
                    <li class = "nav-item"><a href="{{url_for('site.home')}}" class = "nav-link text-light">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li class = "nav-item"><a href="{{url_for('site.profile')}}" class="nav-link text-light">Profile</a></li>
                    <li class = "nav-item"><a href="{{url_for('auth.logout')}}" class="nav-link text-light">Logout</a></li>
                    {% else %}
                    <li class = "nav-item"><a href="{{url_for('auth.signup')}}" class = "nav-link text-light">Sign Up</a></li>
                    <li class = "nav-item"><a href="{{url_for('auth.signin')}}" class = "nav-link text-light">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class = "container">
        <div class="image-container">
            <img src="../static/images/Car-Background.jpg" class="image-fluid w-100 h-100" alt = "car lot image">
        </div>
    </div>
{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>